#zidovsky-hrbitov-novy-location { 
top: 100px;
left: 100px;
}
#zidovsky-hrbitov-novy { 
background: transparent url('../images/locations/Lokace_01_A.jpg') no-repeat 0 0;
}
#pomnik-medvedum-location { 
top: 100px;
left: 150px;
}
#pomnik-medvedum { 
background: transparent url('../images/locations/Lokace_02_A.jpg') no-repeat 0 0;
}
#platan-location { 
top: 1px;
left: 1px;
}
#platan { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#prachovna-location { 
top: 1px;
left: 1px;
}
#prachovna { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#kostel-sv-vita-location { 
top: 1px;
left: 1px;
}
#kostel-sv-vita { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#hradiste-hanin-location { 
top: 1px;
left: 1px;
}
#hradiste-hanin { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#kolinske-tune-location { 
top: 1px;
left: 1px;
}
#kolinske-tune { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#kmochuv-ostrov-location { 
top: 205px;
left: 200px;
}
#kmochuv-ostrov { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#pamatny-jinan-location { 
top: 210px;
left: 200px;
}
#pamatny-jinan { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#gustav-fristensky-location { 
top: 220px;
left: 200px;
}
#gustav-fristensky { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#pamatny-jirovec-location { 
top: 230px;
left: 200px;
}
#pamatny-jirovec { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#zidovsky-hrbitov-st-location { 
top: 240px;
left: 200px;
}
#zidovsky-hrbitov-st { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#zamek-kolin-location { 
top: 240px;
left: 200px;
}
#zamek-kolin { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#karlovo-namesti-location { 
top: 250px;
left: 200px;
}
#karlovo-namesti { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#kutnohorska-brana-location { 
top: 0px;
left: 0px;
}
#kutnohorska-brana { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#klaster-kapucinu-location { 
top: 0px;
left: 0px;
}
#klaster-kapucinu { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#sv-jan-krtitel-location { 
top: 0px;
left: 0px;
}
#sv-jan-krtitel { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#synagoga-location { 
top: 0px;
left: 0px;
}
#synagoga { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#sv-bartolomej-location { 
top: 0px;
left: 0px;
}
#sv-bartolomej { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#pamatny-buk-location { 
top: 0px;
left: 0px;
}
#pamatny-buk { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#husovo-namesti-location { 
top: 0px;
left: 0px;
}
#husovo-namesti { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#heverova-ulice-location { 
top: 0px;
left: 0px;
}
#heverova-ulice { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#pamatny-jinan-a-buk-location { 
top: 0px;
left: 0px;
}
#pamatny-jinan-a-buk { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#krechor-location { 
top: 0px;
left: 0px;
}
#krechor { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#pamatne-javory-a-madal-location { 
top: 0px;
left: 0px;
}
#pamatne-javory-a-madal { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#pamatny-javor-stribrny-location { 
top: 0px;
left: 0px;
}
#pamatny-javor-stribrny { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#kostel-vsech-svatych-location { 
top: 1px;
left: 1px;
}
#kostel-vsech-svatych { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#pamatny-platan2-location { 
top: 1px;
left: 1px;
}
#pamatny-platan2 { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#pohrebiste-polepy-location { 
top: 1px;
left: 1px;
}
#pohrebiste-polepy { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
#vodopad-polepy-location { 
top: 0px;
left: 0px;
}
#vodopad-polepy { 
background: transparent url('../images/locations/.jpg') no-repeat 0 0;
}
